services:
  ## Redis service
  redis:
    image: redis:5.0.12
    platform: linux/amd64
    ports:
      - "6379:6379"
    container_name: redis-beanq
    restart: always
    command: redis-server --requirepass secret
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      interval: 5s
      timeout: 5s
    networks:
      - beanq
  ## Mongo service
  mongo:
    image: mongo:8.0
    ports:
      - "27017:27017"
    container_name: mongo-beanq
    restart: on-failure
    command: [ --auth ]
    environment:
      MONGO_DATA_DIR: /data/db
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: beanq_logs
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.runCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 3
    volumes:
      - mongo_data:/data/db:delegated
      - ./dbs/mongo/init.js:/docker-entrypoint-initdb.d/init.js:ro
    networks:
      - beanq
networks:
  beanq:
    name: beanq-network

volumes:
  mongo_data:    
