services:
  ## UI service
  example:
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - USE_CHINA_PROXY=${USE_CHINA_PROXY}
    init: true
    tty: true
    ports:
      - "8080:9090"
      - "8888:8888"
    container_name: example
    depends_on:
      - redis
      - mongo
    networks:
      - beanq
  ## Consumer service,Multiple can be activated.
  ## Example:
  ## docker-compose up --build -d --scale example-normal-consumer=3
  example-normal-consumer:
    build:
      context: ./
      dockerfile: Dockerfile-normal-consumer
      args:
        - USE_CHINA_PROXY=${USE_CHINA_PROXY}
    init: true
    tty: true
    environment:
      - USE_CHINA_PROXY=${USE_CHINA_PROXY}
    volumes:
      - ./:/var/www/example:rw
    depends_on:
      - redis
      - mongo
    networks:
      - beanq
  ## Redis service
  redis:
    image: redis:5.0.12
    platform: linux/amd64
    ports:
      - "6379:6379"
    container_name: redis-beanq
    restart: always
    command: redis-server --requirepass secret
    networks:
      - beanq
  ## Mongo service
  mongo:
    image: mongo:8.0
    ports:
      - "27017:27017"
    container_name: mongo-beanq
    restart: on-failure
    command: [ --auth ]
    environment:
      MONGO_DATA_DIR: /data/db
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongo_data:/data/db:delegated
      - ./dbs/mongo/init.js:/docker-entrypoint-initdb.d/init.js:ro
    networks:
      - beanq
networks:
  beanq:
    name: beanq-network

volumes:
  mongo_data:    
